<mat-card>
  <mat-card-title>
    <div style="text-align: end">
        <button mat-icon-button [matMenuTriggerFor]="auth">
            <mat-icon>reorder</mat-icon>
          </button>
          <mat-menu #auth="matMenu">
            <button mat-menu-item (click)="onEdit()">
              <mat-icon>build</mat-icon>
              <span>Editar</span>
            </button>
            <button mat-menu-item (click)="onDelete()">
              <mat-icon>delete</mat-icon>
              <span>Excluir</span>
            </button>
          </mat-menu>
      </div>
  </mat-card-title>
  <mat-card-content>
    <table align="center">
      <tr>
        <th>Tipo</th>
        <th>Categoria</th>
        <th>Nome</th>
        <th>Valor</th>
      </tr>
      <tr>
        <td>{{lancamento.tipo}}</td>
        <td>{{lancamento.categoria.name}}</td>
        <td>{{lancamento.nome}}</td>
        <td>{{lancamento.valor}}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
