<div class="container">
  <img alt="Profile Photo" src="assets/img/profileDefaultPhoto.png" id="profilephoto">
  <div class="profileData">
    <div id="profileUsername">USERNAME HERE</div>
    <div id="profileName">Nome: NAME HERE</div>
    <div id="profileEmail">Email: EMAIL HERE</div>
    <div id="profilePhoneNumber">Telefone: PHONE NUMBER HERE</div>
    <app-money-status></app-money-status>
    <button mat-raised-button color="accent" id="alterProfile" (click)="openDialogAlterUser()">Alterar Dados</button>
    <button mat-raised-button color="warn" id="deleteUser">Desativar Conta</button>
  </div>
</div>
