<mat-card class="card">
  <mat-card-content>
    <section>
      <mat-form-field class="form-field">
        <input #inputNome matInput placeholder="Lembrete"
               name="nome" [(ngModel)]="nome">
        <mat-icon matSuffix>watch_later</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Data do lançamento"
               [formControl]="date" >
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-select placeholder="Categoria" name="category" [(ngModel)]="category">
          <mat-option *ngFor="let ct of getCategorias();let i = index" [value]="i">
            <mat-icon *ngIf="isSelected">{{ ct.icon }} </mat-icon>
            {{ct.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="Valor" name="valor"
               [(ngModel)]="valor" required>
      </mat-form-field>

    </section>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="save()">
      <mat-icon>done_outline</mat-icon>
    </button>
    <button mat-raised-button color="warn" (click)="cancel()">Cancelar</button>
  </mat-card-actions>
</mat-card>
