<mat-card id="card-login">
  <mat-card-title>
    <h1 class="text-center cor-secundaria">Gastar<span class="cor-primaria">Ü</span></h1>
    <!-- <img src="assets/img/logo.png"> -->
    <h6 class="text-center cor-primaria">Um jeito simples de organizar suas finanças</h6>
  </mat-card-title>
  <br>
  <br>
  <br>
  
  <form id="form-login" [formGroup]="ownerForm" autocomplete="on" novalidate (ngSubmit)="logaNoSistema()">
    <mat-card-content>
      <mat-divider></mat-divider>
      <br>
      <br>
      <mat-form-field class="mat-form-field-login">
        <input matInput placeholder="Usuario" formControlName="username">
        <mat-error *ngIf="hasError('username', 'required')">Campo obrigatório</mat-error>
        <!--<mat-error *ngIf="hasError('username', 'email')">Email inválido</mat-error>-->
      </mat-form-field>
      <br>
      <mat-form-field class="mat-form-field-login">
        <input matInput placeholder="Senha" formControlName="password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="hasError('password', 'required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <mat-card-actions style="text-align: center;">
        <button mat-raised-button color="primary" [disabled]="!ownerForm.valid">Entrar</button>
      </mat-card-actions>

      <mat-divider></mat-divider>
      <br>
      <div class="text-center cor-primaria">Ainda não tem sua conta? Cadastre-se</div>
      <div class="text-center cor-primaria">Esqueci minha senha</div>
    </mat-card-content>
  </form>
</mat-card>