#mainTitle {
    font-size: 40px;
    text-align: center;
    color: #4fc3f7;
}
h3 {
    text-align: center;
}
.buttons {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #4fc3f7;
    color: white;
}

#buttonRendas {
    background:green;
    right: 60px;
}

#buttonGastos {
    background: red;
}