/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-center {
  text-align: center;
}
.linksBlock {
  text-decoration: none;
  display: block;
}

.cor-primaria {
  color: #6BCCF7;
}

.cor-secundaria {
  color: #BCBCBC;
}

.cor-primaria-bg {
  background-color: #473198;
}
