/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

<<<<<<< HEAD
=======
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

>>>>>>> incluindo tela de login, nav-side e nav-top bar ao projeto
.text-center {
  text-align: center;
}

.cor-primaria {
  color: #3700B3;
}

.cor-secundaria {
  color: #BCBCBC;
}
